{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1400">
    <title>Okna-petrov.logist</title>
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
</head>

<body>
    <div class="wrapper__provider">
        <div class="popup-profile-page popup-fade" id="send__modal">
            <div class="popup">
                <img src="{% static 'assets/img/profile.svg' %}" alt="profile">
                <h1>Заполните свой профиль</h1>
                <a id="close__modal" href="" class="btn main__btn rating__btn">Мой профиль</a>
            </div>
        </div>
        <div class="popup-review" id="open__modal">
            <form class="popup" method="post" action="{% url 'add_router' %}">
                {% csrf_token %}
                <h3>Добавьте заказ к маршруту</h3>
                <select required name="route" class="account__input">
                    <option value="" disabled selected>Выберите маршрут</option>
                    {% for route in routes %}
                        <option value="{{ route.id }}">{{ route.name }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="o_name" hidden>
                <input type="text" name="plan_date" hidden>
                <input type="text" name="change_date" hidden>
                <input type="text" name="qu" hidden>
                <input type="text" name="sqr" hidden>
                <input type="text" name="transportinfo" hidden>
                <input type="text" name="contact" hidden>
                <input type="text" name="address" hidden>
                <input type="text" name="phone" hidden>
                <input type="text" name="floor" hidden>
                <input type="text" name="c_name" hidden>
                <input type="text" name="s_name" hidden>
                <button type="submit" id="next__modal" class="btn main__btn rating__btn">Добавить к маршруту</button>
            </form>
        </div>
        <section class="balance__company row">
            <div class="profile__navbar col-xl-2">
                <div class="navbar__content">
                    <div class="navbar__brand">
                        <img src="{% static 'assets/img/logo_petr.png' %}" alt="Petr">
                    </div>
                    <p class="nav__diler-menu">меню</p>
                    <div class="navbar__links">
                        <nav>
                            <ul>
                                <li class="nav__link-diler-item nav__link-item-diler-active"><img
                                        src="{% static 'assets/img/ico/order-active.svg' %}" alt="Мои заказы"><a
                                        href="">Заказы</a></li>
                                <li class="nav__link-diler-item "><img src="{% static 'assets/img/ico/gps-inactive.svg' %}"
                                        alt="Маршруты"><a href="{% url 'routes' %}">Маршруты</a></li>
                                <li class="nav__link-diler-item"><img src="{% static 'assets/img/ico/support.svg' %}"
                                        alt="Помощь"><a
                                        href="https://t.me/chattodotodo_bot?start=IGS-6Nn-twD17M6tfFgpg">Помощь</a>
                                </li>
                                <hr class="nav__link-diler">
                                <button type="button" onclick="window.location.pathname = 'new_route'"
                                    class="main__btn d-flex justify-content-center align-items-center mx-auto new__order"><img
                                        class="px-1" src="{% static 'assets/img/ico/add.svg' %}" alt="add">Создать маршрут</button>
                                <li class="logout nav__link-item "><img src="{% static 'assets/img/ico/logout.svg' %}"
                                        alt="Выход"><a href="{% url 'logout_core_view' %}"> Выход</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="profile__content col-xl-10">
                <div class="profile__nav row">
                    <div class="profile__nav-title col-xl-10">
                        <h1>Заказы</h1>
                    </div>
                    <div class="profile__nav-logo col-xl-2 d-flex align-items-center">
                        <div class="profile__nav-wrapper d-flex align-items-center">
                            <img src="{% static 'assets/img/ico/profile-logo-diler.svg' %}" alt="logo">
                            <p class="profile__nav-logo-title">{{ request.user.username }}</p>
                        </div>
                    </div>
                </div>
                
                <div class="process__work table-responsive">
                    <table class="result__table">
                        <tr class="result__table-head">
                            <th>№</th>
                            <th>Дата</th>
                            <th>Дата изменения</th>
                            <th>Количество изделий</th>
                            <th>Общая площадь изделий</th>
                            <th>Комментарий</th>
                            <th>Контакт</th>
                            <th>Этаж</th>
                            <th>Клиент</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                        {% for data in datas %}
                        <tr class="result__table-body">
                            <td>{{data.o_name}}</td>
                            <td>{{data.plan_date}}</td>
                            <td>{{data.change_date}}</td>
                            <td>{{data.qu}}</td>
                            <td>{{data.sqr}}</td>
                            <td>{{data.transportinfo}}</td>
                            <td>
                                <div id="accordeon" class="acc__container">
                                    <div class="acc__head">
                                        {{ data.contact }}
                                        <img src="{% static 'assets/img/ico/slideup.svg' %}" alt="slideup">
                                    </div>
                                    <div class="acc__body">
                                        <p>{{ data.address }}</p>
                                        <p>{{ data.phone }}</p>
                                    </div>
                                </div>
                            </td>
                            <td>{{data.floor}}</td>
                            <td>{{data.c_name}}</td>
                            <td>{{data.s_name}}</td>
                            <td>
                                <button type="button" {% if quantity.author.id in send_review %} disabled {% endif %} onclick="createOrder('{{data.o_name}}', '{{data.plan_date}}', '{{data.change_date}}', '{{data.qu}}', '{{data.sqr}}', '{{data.transportinfo}}', '{{data.contact}}', '{{data.address}}', '{{data.phone}}', '{{data.floor}}', '{{data.c_name}}', '{{data.s_name}}')" class="response">Добавить</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script>
        function createOrder(o_name, plan_date, change_date, qu, sqr, transportinfo, contact, address, phone, floor, c_name, s_name){
            document.querySelector('input[name="o_name"]').value = o_name;
            document.querySelector('input[name="plan_date"]').value = plan_date;
            document.querySelector('input[name="change_date"]').value = change_date;
            document.querySelector('input[name="qu"]').value = qu;
            document.querySelector('input[name="sqr"]').value = sqr;
            document.querySelector('input[name="transportinfo"]').value = transportinfo;
            document.querySelector('input[name="contact"]').value = contact;
            document.querySelector('input[name="address"]').value = address;
            document.querySelector('input[name="phone"]').value = phone;
            document.querySelector('input[name="floor"]').value = floor;
            document.querySelector('input[name="c_name"]').value = c_name;
            document.querySelector('input[name="s_name"]').value = s_name;
            document.querySelector(".popup-review").style.display="block";
        }
    </script>
</body>

</html>