{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=1400">
    <title>Okna-petrov.logist - Вход</title>
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <div class="container">
      <section>
        <div class="flex_center">
          <img src="{% static 'assets/img/logo_petr.png' %}" alt="" />
        </div>
        <p>Мы отправили вам инструкции по установке пароля по электронной почте</p>
    </div>
  </body>
</html>