{% extends 'base.html' %}

{% block title %} Маршрут {% endblock title %}

{% load static %}

{% block content %}

<div class="container">
    <table style="width: 100%;">
        <tr>
            <th>№</th>
            <th>Дата</th>
            <th>Дата логиста</th>
            <th>Количество изделий</th>
            <th>Общая площадь изделий</th>
            <th>Комментарий</th>
            <th>Контакт</th>
            <th>Этаж</th>
            <th>Время</th>
            <th>Сумма доставки</th>
            <th>Клиент</th>
            <th>Статус звонка</th>
            <th>Текст звонка</th>
            <th>Аудио звонка</th>
        </tr>
        {% for order in route.orders.all %}
        <tr>
            <td>{{order.o_name}}</td>
            <td>{{order.plan_date}}</td>
            <td>{{order.date_logist}}</td>
            <td>{{order.qu}}</td>
            <td>{{order.sqr}}</td>
            <td>{{order.transportinfo}}</td>
            <td>
                <div id="accordeon" class="acc__container">
                    <div id="contact" class="acc__head" onclick="if (this.nextElementSibling.style.display == 'block') {this.nextElementSibling.style.display = 'none'} else {this.nextElementSibling.style.display = 'block'}">
                        {{ order.contact }}
                        <img src="{% static 'img/slideup.svg' %}" style="margin-left: 5px;" alt="slideup">
                    </div>
                    <div class="acc__body">
                        <p id="c_name">{{ order.address }}</p>
                        <p contenteditable="true" id="phone">{{ order.phone }}</p>
                    </div>
                </div>
            </td>
            <td>{{order.floor}}</td>
            <td>{{order.delivery_time}}</td>
            <td>{{order.delivery_sum}}</td>
            <td>{{order.c_name}}</td>
            <td>{{order.call_status}}</td>
            <td>{{order.call_text}}</td>
            <td>
                {% if order.call_audio %}
                    <a href="{{order.call_audio.url}}">Аудио</a>
                {% else %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                {% if route.driver %}
                {% else %}
                {% if route.is_call %}
                    {% else %}
                        <button type="button" onclick="document.querySelector('.popup-review').style.display = 'block'" style="background-color: #15CE73; padding: 8px 16px; border: none; border-radius: 8px; color: white;">Выбрать водителя</button>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>
</div>

{% endblock content %}