{% extends 'base.html' %}

{% block title %} Маршруты {% endblock title %}

{% load static %}

{% block content %}

<div class="container">
    
    <table style="width: 50%; margin: 0 auto;">
        <tr>
            <th>ID</th>
            <th>Водитель</th>
            <th>Статус</th>
            <th>Количество заказов</th>
            <th></th>
        </tr>
        {% for route in routes %}
            <tr>
                <td>{{ route.id }}</td>
                <td>{{ route.driver.name }}</td>
                <td>{% if route.is_finish %} Выполнен {% else %} {% if route.driver %} Выполняется {% else %} {% if route.is_call %} Идет прозвон {% else %} Нужно выбрать водителя {% endif %} {% endif %}{% endif %}</td>
                <td>{{ route.orders.all|length }}</td>
                <td>
                    <a href="{% url 'route' route.id %}" style="display: block; padding: 10px 25px; background-color: #15CE73; font-weight: 500; color: #fff; border-radius: 8px;">Подробно</a>
                </td>
                <td>
                    <a href="{% url 'route_delete' route.id %}"><img src="{% static 'img/delete.svg' %}" alt=""></a>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>

{% endblock content %}